:root {
    --primary-blue: #2482a7;
    --primary-yellow: #f3f046;
}

*,
::after,
::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: "Roboto", Arial;
    font-size: 16px;
}

body {
    height: 100vh;
}

.jumbotron {
    height: 100%;
    background-color: var(--primary-blue);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title {
    font-size: 5rem;
    font-weight: bold;
    color: var(--primary-yellow);
    margin-bottom: 1rem;
}

.btn {
    text-decoration: none;
    font-size: 1.25em;
    color: #000;
    padding: 5px 15px;
    border-radius: 5px;
    background-color: var(--primary-yellow);
}
