:root {
    /* --primary-text: #f4e409;
    --primary-action: #dd6031;
    --primary-background: #1e91d6;
    --secondary-text: #b0a1ba; */
    --primary-text: #f2e9e4;
    --primary-action: #4a4e69;
    --primary-background: #22223b;
    --secondary-text: #c9ada7;
    --secondary-background: #9a8c98;
}

*,
::after,
::before {
    cursor: default;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: "Poppins", Arial;
    font-size: 16px;
    color: var(--primary-text);
}

body {
    margin-inline: 2rem;
    height: 100vh;
    background-color: var(--primary-background);
    /* outline: red solid 1px; */
}

h2 {
    margin-block: 1rem;
    outline: red solid 1px;
}

.flex-centered {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title {
    font-family: "Kanit", Arial;
    font-size: 7rem;
    font-weight: bold;
    color: var(--primary-text);
}

.btn {
    cursor: pointer;
    position: relative;
    text-decoration: none;
    font-size: 1.5em;
    color: var(--secondary-text);
    padding: 10px 15px;
    border-radius: 5px;
    background-color: var(--primary-action);
}

.btn::after {
    cursor: pointer;
    content: "";
    position: absolute;
    right: 0;
    bottom: 6px;
    width: 0;
    height: 3px;
    margin-inline: 15px;
    border-radius: 5px;
    background-color: var(--secondary-text);
    transition: all 0.4s ease;
}

.btn:hover::after {
    left: 0;
    width: calc(100% - 30px);
}

@media screen and (max-width: 600px) {
    .title {
        font-size: 5rem;
    }

    .btn {
        font-size: 1.25rem;
    }
}
